*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/nike.png');
    background-repeat: no-repeat;
}
.texto{
    text-align: right;
    margin-right: 25%;
}
.texto2{
    text-align: right;
    margin-right: 35%;
}